@theme {
  /* --- Elegant Monochrome Palette --- */
  --color-elegant-50: #ebe9df; /* Background */
  --color-elegant-100: #f5f4f4; /* Card Background */
  --color-elegant-200: #d1d5dc;
  --color-elegant-300: #0000;
  --color-elegant-400: #0000;
  --color-elegant-500: #0000;
  --color-elegant-600: #0000;
  --color-elegant-700: #0000;
  --color-elegant-800: #0000;
  --color-elegant-900: #0000;
  --color-elegant-950: #151410; /* Dark Background */
}

@layer base {
  /* ========== LIGHT THEME ========== */
  .theme-elegant {
    --color-secondary: var(--color-elegant-950);
    --color-secondary-fg: var(--color-elegant-50);

    --color-paper: var(--color-elegant-50);
    --color-paper-fg: var(--color-elegant-100);

    --color-focus: var(--color-elegant-200);
  }

  /* ========== DARK THEME ========== */
  .theme-elegant.dark {
    --color-secondary: var(--color-elegant-50);
    --color-secondary-fg: var(--color-elegant-950);
  }
}
.theme-elegant ::selection {
  background-color: var(--color-elegant-200);
  color: var(--color-elegant-950);
}
