.blob {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  opacity: 0.6;
  animation: float 7s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(180px, -120px) scale(1.2);
  }
  66% {
    transform: translate(-120px, 80px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
