.scroll-container {
  width: 100%;
  position: relative;
}

.clip-image {
  position: absolute;
  inset: 0;
  background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
  background-size: cover;
  background-position: center;
  will-change: clip-path;
  clip-path: circle(50px at center);
}
